.some-steper {
  display: flex;
  border-radius: var(--radius);
  flex: 0 0 fit-content;
  align-items: center;
  overflow: hidden;
  font-size: 14px;
}

.some-steper__sub, .some-steper__add {
  display: block;
  flex: 0 0 24px;
  width: 24px;
  text-align: center;
  background-color: var(--form-bg-color);
  line-height: 24px;
  cursor: pointer;
}

.some-steper__sub.disabled, .some-steper__add.disabled {
  cursor: not-allowed;
  color: var(--form-disabled-color);
  background-color: var(--form-disabled-bg-color);
}

.some-steper__input {
  display: block;
  outline: none;
  box-sizing: border-box;
  border: 0;
  padding: 0 2px;
  flex: 0 0 60px;
  width: 60px;
  height: 24px;
  overflow: hidden;
  text-align: center;
  color: #fff;
  background-color: var(--form-bg-color);
  line-height: 24px;
}

.some-steper .some-menu {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.some-steper .some-menu.some-hide:not(:hover) {
  display: none;
}
